$fondo: #FFFFFF;
$boton: #00F3BB;
h1{
    font-size: 2.5rem;
    font-family: 'IBM Plex Sans', sans-serif; 
}
h2{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: lighter;
}
p{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
}
.header{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
    .header_opciones{
        width: 100%;
    }
    .header_logo{
        width: 2rem;
        height: 2rem;
        margin: .5rem;
    }
    .checkbtn{
        float: right;
        width: 2rem;
        height: 2rem;
        margin-top: 1rem;
    } 
    #check{
        display: none;
    }
    .header_hamburguesa{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style-type: none;
        padding: 0;
        display: none;
        li{
            box-sizing: border-box;
            padding: 2rem;
            background-color: #0000EC;
            width: 100%;
            a{
                color: white;
                text-decoration: none;
                font-family: 'IBM Plex Mono', monospace;
            }
        }
    }   
    #check:checked ~ .header_hamburguesa{
        display: block;
    }
}
.main{
    margin: 1rem;
    width: 90%;
    .main_titulo{
       font-weight: unset;
    }
    .main_texto{
        font-size: 0.875rem;
    }
    .main_div{
        display: flex;
        justify-content: center;
    }
    .main_boton{
        margin-top: 1rem ;
        padding: 1.5rem;
        width: 100%;
        background-color: $boton;
        border: none;
        font-size: 1rem;
        font-weight: bold;
        font-family: 'IBM Plex Mono', monospace;
    }
    .main_boton:hover{
        color: white;
        background-image: linear-gradient( to left, #0000FE, #00F0B8);
    }
    .main_boton:active{
        color: #060A24 ;
    }
}
.spotify{
    background-image: linear-gradient(#0000FF, #0000A3);
    transform: skewY(-6deg);
    transform-origin: top left;
    margin: 0;
    width: 100%;
    .spotify_fondo{
        transform: skewY(6deg);
        transform-origin: top left;
    }
    .spotify_titulo{
        color: white;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 100;
        margin: 1.5rem;
    }
    .spotify_lista{
        display: grid;
        grid-template-rows: 4fr;
        margin: .5rem;
        grid-row-gap: .1rem;
    }
    .spotify_podcasts{
        iframe{
            height: 16.06rem;
            width: 100%;
            border: none;
        }
    }
}
.origenes{
    display: grid;
    .origenes_titulo{
        margin: 1.5rem;
    }
    .origenes_imagen{
        width: 100%;
        margin: 0;
    }
    .origenes_articulo{
        margin: 2rem 1rem 3rem 1rem ;
    }
}
.invitados{
    .invitados_titulo{
        margin: 1rem;
    }
    .invitados_articulo{
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        display: grid;
        grid-row-gap: 0;
        .invitados_imagenes{
            width: 100%;
            margin: 0;
        }
    }
}
.temas{
    margin-top: 3rem;
    .temas_titulo{
        margin: 1rem;
    }
    .temas_articulo{
        .temas_articulo_puntos{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            .temas_articulo_puntos_texto{
                text-align: center;
                font-size: 1.4rem;
                font-weight: 900;
            }
        }
    }
}
.novedades{
    height: 20rem;
    padding: 0;
    margin: 0;
    width: 100%;
    .novedades_contenedor{
        background-image: linear-gradient(#0000FF, #0000A3);
        clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .novedades_titulo{
        font-weight: 100;
        color: white;
        margin: 1rem;
    }
    .novedades_div_titulo{
        display: flex;
        justify-content: center;
    }
    .novedades_div_boton{
        display: flex;
        justify-content: center;
    }
    .novedades_boton{
        margin-top: 1rem ;
        padding: 1.5rem;
        width: 90%;
        background-color: $boton;
        border: none;
        font-size: 1rem;
        font-weight: bold;
        font-family: 'IBM Plex Mono', monospace;
        text-transform: uppercase;
    }
    .novedades_boton:hover{
        color: white;
        background-image: linear-gradient( to left, #0000FE, #00F0B8);
    }
}
.footer{
    height: 8rem ;
    background-color: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .footer_texto{
        font-weight: normal;
    }
    .footer_lista{
        display: flex;
        list-style-type: none;
        .footer_lista_elemento{
            .footer_lista_link{
                display: flex;
                margin: .5rem;
                background-color: transparent;
                text-decoration: none;
                .fab{
                    color: #060A24;
                    background-color: transparent;
                    width: 3rem;

                }
            }
        }
    }
}
@media screen and (min-width: 768px){
    .header{
        .header_opciones{
            display: flex;
            justify-content: space-between;
            .header_logo{
                margin-left: 3rem;
            }
            .checkbtn{
                display: none;
            }
            .header_hamburguesa{
                display: block;
                li{
                    padding: 0;
                    display: inline;
                    background-color: white;
                    margin-right: .4rem;
                    a{
                        color: #060A24;
                        margin: 0 2rem 0;
                    }
                    a:hover {
                        color: #00F3BB;
                        text-decoration: line-through;
                    }
                    a:active{
                        color: #060A24;
                    }
                }
            }
        }
    }
    .main{
        width: 60%;
        margin: 10rem 10rem;
        .main_titulo{
            font-size: 3rem;
            b{
                color: #0000EC;
            }
        }
        .main_texto{
            width: 70%;
        }
        .main_boton{
            width: 23%;
            padding: 1rem ;
        }
    }
    .spotify{
        margin-bottom: 0;
        .spotify_fondo{
            height: 50rem;
            margin-bottom: 0;
            .spotify_titulo{
                margin-left: 10rem;
            }
            .spotify_lista{
                border: none;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                grid-column-gap: 4rem;
                grid-row-gap: 4rem;
                .spotify_podcasts{
                    border: none;
                    iframe{
                        height: 14.5rem;
                        border: none;
                    }
                }
            }
        }
    }
    .origenes{
        margin-top: -8rem;
        .origenes_fondo{
            box-sizing: border-box;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            margin: 0 3rem 3rem 3rem;
            .origenes_imagen{
                z-index: 5;
                max-height: 54rem;
                max-width: 40rem;
            }
            .origenes_articulo_div{
                display: flex;
                align-items: center;
                width: 60%;
            }
        }
    }
    .invitados{
        width: 100%;
        margin: 0;
        .invitados_titulo{
            margin-left: 10rem;
        }
        .invitados_articulo{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
    .temas{
        margin-top: 3rem;
        margin-bottom: 5rem;
        .temas_titulo{
            margin-left: 10rem;
        }
        .temas_articulo{
            margin: 3rem 0 0 0;
            padding: 0;
            display: flex;
            justify-content: center;
            .temas_articulo_puntos{
                width: 100%;
                padding: 0;
                margin: 0;
                .temas_articulo_puntos_texto{
                    text-align: center;
                    margin: auto;
                    max-width: 150px;
                }
            }
        }
    }
    .novedades{
        .novedades_boton{
            width: 21.2rem;
            padding: 1rem;
        }
        .novedades_contenedor{
            display: flex;
            justify-content: center;
            align-items: center;
            clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
        }
    }

    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 3;
        height: 6rem;
        .footer_texto{
            margin-left: 3rem;
        }
        .footer_lista_link{
            text-decoration: none;
            
        }
    }
}

