h1 {
  font-size: 2.5rem;
  font-family: 'IBM Plex Sans', sans-serif;
}

h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: lighter;
}

p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem;
}

.header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header .header_opciones {
  width: 100%;
}

.header .header_logo {
  width: 2rem;
  height: 2rem;
  margin: .5rem;
}

.header .checkbtn {
  float: right;
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
}

.header #check {
  display: none;
}

.header .header_hamburguesa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style-type: none;
  padding: 0;
  display: none;
}

.header .header_hamburguesa li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem;
  background-color: #0000EC;
  width: 100%;
}

.header .header_hamburguesa li a {
  color: white;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
}

.header #check:checked ~ .header_hamburguesa {
  display: block;
}

.main {
  margin: 1rem;
  width: 90%;
}

.main .main_titulo {
  font-weight: unset;
}

.main .main_texto {
  font-size: 0.875rem;
}

.main .main_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .main_boton {
  margin-top: 1rem;
  padding: 1.5rem;
  width: 100%;
  background-color: #00F3BB;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'IBM Plex Mono', monospace;
}

.main .main_boton:hover {
  color: white;
  background-image: -webkit-gradient(linear, right top, left top, from(#0000FE), to(#00F0B8));
  background-image: linear-gradient(to left, #0000FE, #00F0B8);
}

.main .main_boton:active {
  color: #060A24;
}

.spotify {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
  background-image: linear-gradient(#0000FF, #0000A3);
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.spotify .spotify_fondo {
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.spotify .spotify_titulo {
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 100;
  margin: 1.5rem;
}

.spotify .spotify_lista {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4fr;
      grid-template-rows: 4fr;
  margin: 1rem;
  grid-row-gap: .5rem;
}

.origenes {
  display: -ms-grid;
  display: grid;
}

.origenes .origenes_titulo {
  margin: 1.5rem;
}

.origenes .origenes_imagen {
  width: 100%;
  margin: 0;
}

.origenes .origenes_articulo {
  margin: 2rem 1rem 3rem 1rem;
}

.invitados .invitados_titulo {
  margin: 1rem;
}

.invitados .invitados_articulo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 0;
}

.invitados .invitados_articulo .invitados_imagenes {
  width: 100%;
  margin: 0;
}

.temas {
  margin-top: 3rem;
}

.temas .temas_titulo {
  margin: 1rem;
}

.temas .temas_articulo .temas_articulo_puntos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.temas .temas_articulo .temas_articulo_puntos .temas_articulo_puntos_texto {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 1000;
}

.novedades {
  height: 20rem;
  padding: 0;
  margin: 0;
  width: 100%;
}

.novedades .novedades_contenedor {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
  background-image: linear-gradient(#0000FF, #0000A3);
  -webkit-clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.novedades .novedades_titulo {
  font-weight: 100;
  color: white;
  margin: 1rem;
}

.novedades .novedades_div_titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.novedades .novedades_div_boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.novedades .novedades_boton {
  margin-top: 1rem;
  padding: 1.5rem;
  width: 90%;
  background-color: #00F3BB;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'IBM Plex Mono', monospace;
  text-transform: uppercase;
}

.novedades .novedades_boton:hover {
  color: white;
  background-image: -webkit-gradient(linear, right top, left top, from(#0000FE), to(#00F0B8));
  background-image: linear-gradient(to left, #0000FE, #00F0B8);
}

.footer {
  height: 10rem;
  background-color: white;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer_texto {
  font-weight: normal;
}

.footer .footer_lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.footer .footer_lista .footer_lista_elemento .footer_lista_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  background-color: transparent;
  text-decoration: none;
}

.footer .footer_lista .footer_lista_elemento .footer_lista_link .fab {
  color: #060A24;
  background-color: transparent;
  width: 3rem;
}

@media screen and (min-width: 768px) {
  .header .header_opciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .header_opciones .checkbtn {
    display: none;
  }
  .header .header_opciones .header_hamburguesa {
    display: block;
  }
  .header .header_opciones .header_hamburguesa li {
    padding: 0;
    display: inline;
    background-color: white;
    margin-right: 1rem;
  }
  .header .header_opciones .header_hamburguesa li a {
    color: #060A24;
    margin: 0 2rem 0;
  }
  .header .header_opciones .header_hamburguesa li a:hover {
    color: #00F3BB;
    text-decoration: line-through;
  }
  .header .header_opciones .header_hamburguesa li a:active {
    color: #060A24;
  }
  .main {
    width: 60%;
    margin: 10rem 10rem;
  }
  .main .main_titulo {
    font-size: 3rem;
  }
  .main .main_titulo b {
    color: #0000EC;
  }
  .main .main_texto {
    width: 70%;
  }
  .main .main_boton {
    width: 23%;
    padding: 1rem;
  }
  .spotify {
    margin-bottom: 0;
  }
  .spotify .spotify_fondo {
    height: 50rem;
    margin-bottom: 0;
  }
  .spotify .spotify_fondo .spotify_titulo {
    margin-left: 10rem;
  }
  .spotify .spotify_fondo .spotify_lista {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
  }
  .origenes {
    margin-top: -8rem;
  }
  .origenes .origenes_fondo {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 3rem 3rem 3rem;
  }
  .origenes .origenes_fondo .origenes_imagen {
    z-index: 5;
    max-height: 54rem;
    max-width: 40rem;
  }
  .origenes .origenes_fondo .origenes_articulo_div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
  }
  .invitados {
    width: 100%;
    margin: 0;
  }
  .invitados .invitados_titulo {
    margin-left: 10rem;
  }
  .invitados .invitados_articulo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .temas {
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  .temas .temas_titulo {
    margin-left: 10rem;
  }
  .temas .temas_articulo {
    margin: 3rem 0 0 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .temas .temas_articulo .temas_articulo_puntos {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .temas .temas_articulo .temas_articulo_puntos .temas_articulo_puntos_texto {
    text-align: center;
    margin: auto;
    max-width: 150px;
  }
  .novedades .novedades_contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 3;
  }
  .footer .footer_texto {
    margin-left: 3rem;
  }
  .footer .footer_lista_link {
    text-decoration: none;
  }
}
/*# sourceMappingURL=styles.css.map */